<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @camp.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @camp.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @camp.city %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @camp.capacity %>
</p>

<p>
  <strong>Custom field:</strong>
  <%= @camp.custom_field %>
</p>

<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
